<div class='wrapper'>
  <p [class]='userClass' (click)="onClick('blue')">
    {{ user?.name }} works on {{ 5 + 5 }} points!
  </p>
  <p>Enter color:</p>
  <!-- ссылка на элемент при помощи '#': -->
  <input type='text' #color/>
  <button type='button' (click)="onClick(color.value)">Change colour</button>
</div>

<button type='button' (click)="isShown = !isShown">Toggle!</button>
<app-user *ngIf='isShown' [user]='user'></app-user>

<ul>
  <li *ngFor='let user of users'>
      {{ user.name }}
  </li>
</ul>

