<div class='wrapper'>
  <p [class]='userClass' (click)="onClick('blue')">
    {{ user?.name }} works on {{ 5 + 5 }} points!
  </p>
  <p>Enter color:</p>
  <!-- ссылка на элемент при помощи '#': -->
  <input type='text' #color/>
  <button type='button' (click)="onClick(color.value)">Change colour</button>
</div>

<ul>
  <li *ngFor='let user of users'>
      {{ user.name }}
      <span (click)='removeUser(user.name)'>X</span>
  </li>
</ul>

<input type='text' #userName />
<button type='button' (click)="addUser(userName.value); userName.value=''">Add</button>


