<a routerLink='' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>Home</a>
<a routerLink='admin' routerLinkActive='active'>Admin</a>
<a routerLink='users' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'>Users</a>
<a routerLink='users' routerLinkActive='active' [queryParams]='{p: 333}'>Users & queryParams</a>
<a routerLink='users/3' routerLinkActive='active'>User 3</a>
<br>
<a [routerLink]="[{outlets: {popup: 'login'}}]">Show Popup</a>
<a [routerLink]="[{outlets: {popup: null}}]">Hide Popup</a>
<router-outlet></router-outlet>
<router-outlet name='popup'></router-outlet>

<div style="text-align:center">
  <h1>
    You are Welcome!
  </h1>

  <div>
    <input [formControl]='nameControl' />
  </div>

  <fieldset [formGroup]='fullNameControl'>
      <input formControlName='firstName' />
      <input formControlName='lastName' />
  </fieldset>

  <form [formGroup]='userListControl'>
    <ul formArrayName='users' >
      <li *ngFor='let userControl of userListControl.controls.users.controls; let i = index'>
        <input formControlName='{{ i }}'/>
        <button (click)='removeUserControl(i)' >Remove</button>
      </li>
    </ul>
  </form>
  <button (click)='addUserControl(i)' >Add User</button>

  <app-header></app-header>
  <app-menu>
    <p>Hello from {{menu}}</p>
    <span>Hello from span</span>
  </app-menu>
  <p appColour>Color directive</p>
  <p *appDelay>Delay directive</p>
  <app-footer appColour *appDelay></app-footer>
</div>

